body {
    background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8fDA%3D);
    background-attachment: fixed;
    background-size: auto;
    margin: 5% 30% 5% 30%;
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2 {
    text-align: center;
}

.li-header {
    color: red;
}

.li-main {
    color: aliceblue;
}

.li-footer {
    color: green;
}